.background {
    color:#fff;
}

.navigation{
    text-align:center;
    position:fixed;
    background-color:#FDFDFE;
    background-position: top;
    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}


.navigation li {
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}

.navigation ul{
    height:500px;
}

.navigation a{
    text-decoration: none;
    color:#001D6B;
    font-family: Julius Sans One;
}

.navigation a:hover{
    color:#F3F333;
}

.otsikko {
    text-decoration: none;
    font-family: Julius Sans One;
    color:#001D6B;
    width: 89%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    background-color:#fff;
    color: #fff;
    border-color: #fff;
    border-width:5px;
    border-style: solid;
    border-image-slice: 50%;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url(navpalkki.jpg)
        

}

.video {
   width: 70%;
     
}

.tietoa-1 {
    font-family: Julius Sans One;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color:#fff;
    color: #1f1f1f;
    padding: 20px;
}

.tietoa-1 h2:hover{
    transition: 1s;
    font-size: 5em;
}

.tietoa-1 h2:hover {
    transition: 1s;
    font-size: 5em;
}

.resize {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.uutisia {
    font-size: 25px;
}

.uutiset {
    position: sticky;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background-color:#F9F9F9;
    background-position: bottom;
    width: 100%;
    height: 200px;
}

.date {
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
}

.picture{
     font-family: Julius Sans One;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color:#fff;
    color: #1f1f1f;
    padding: 20px;
}

.news{
    font-family: Julius Sans One;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color:#fff;
    color: #1f1f1f;
    
}

.panel{
    font-family: Julius Sans One;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color:#fff;
    color: #1f1f1f;
    padding-bottom: 20px;
}

.info {
    padding-top: 10px;
    font-family: Julius Sans One;
    font-size: 14px;
    color:darkgray;
}

.yhteystiedot {
    font-size: 18px;
}
.copyright {
    font-family: Julius Sans One;
    font-size: 10px;
    color:darkgray;
    padding-left: 15px;
    padding-top: 10px;
}

.downloadlink {
    font-family: Julius Sans One;
    font-size: 67%;
    font-style: italic;
    
}

.dwnld {
 color:darkgray;
}

.uutiset {
    font-family: Julius Sans One;
}

@media screen and (max-width: 500px) {
    .tietoa-1 {
        width: 90% %;
    }
    .video {
        width: 90% %;
    }
}


